html{
  font-size: 16px;
}
body {
  background-color: rgb(223, 228, 252);
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
}

.toolTip{
  max-width: 250px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  background-color: rgb(232, 236, 255);
  border-radius: 6px;
  padding: 6px 11px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.493);
}

.chartBkg{
  fill: rgb(255, 255, 255);
}

.chartTitle,
.yTitle,
.xTitle {
  fill: rgb(20, 0, 110);
  font: bold 1.75rem sans-serif;
}
.titleDetail {
  font: lighter 1rem sans-serif;
}
.legendDetail {
  font: lighter 1rem sans-serif;
}
.yTitle,
.xTitle {
  font-size: 1.25rem;
}

.axis text {
  fill: rgb(0, 5, 70);
  font: 0.75rem sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: rgb(0, 5, 70);
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.legend text{
  /* fill:red; */
  
}